/* local additions to base style */

/* from bootstrap */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
}
.alert-warning {
    color: #8A6D3B;
    background-color: #FCF8E3;
    background-image: linear-gradient(to bottom, #FCF8E3 0px, #F8EFC0 100%);
    background-repeat: repeat-x;
    border-color: #F5E79E;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 3px 6px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-success {
  color: #ffffff;
  background-color: #1d9d74;
  border-color: #198764;
}
.btn-success:focus,
.btn-success.focus {
  color: #ffffff;
  background-color: #157254;
  border-color: #051c15;
}
.btn-success:hover {
  color: #ffffff;
  background-color: #157254;
  border-color: #0f543e;
}
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #157254;
  border-color: #0f543e;
}
.btn-success {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
img.fig {
    border: 1px solid black;
    box-shadow: 5px 5px 5px #999;
}

img.right {
    float: right;
    max-width: 50%;
    margin-left: 10px;
}

p.sep {
    padding: 5px;
    clear: both;
}

/* horizontal nav bar */
nav.horizontal {
    border-bottom: 1px #268 solid;
    margin-bottom: 40px;
}
nav.horizontal ul {
    height: auto;
    margin: 0 0 10px 5px;
    padding: 0;
}
nav.horizontal li {
    display: inline;
    padding: 0 10px 0 0;
}

img.logo {
    vertical-align: middle;
    margin-left: 1em;
    float: right;
}

.right {
    float: right;
}

.big-button {
    font-size: 150%;
    padding: 9px 18px;
}
